<% if @restaurant.errors.any? %>
  <section id='errors'>
    <h2> <%= pluralize(@restaurant.errors.count, 'error') %> prohibited this restaurant from being saved: </h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  </section>
<% end %>
<p>
  <%= @restaurant.name %>
</p>

<p>
  <%= @restaurant.description %>
</p>

<%= button_to 'Edit restaurant', edit_restaurant_path, method: :get %>
<%= button_to 'Delete', restaurant_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
